In [5]:
fruits = ["Apple","Banana","Watermelon"]
for fruit in fruits:
    print(f"Nama Buah :{fruit}")

Nama Buah :Apple
Nama Buah :Banana
Nama Buah :Watermelon

In [9]:
#Contoh
#Kelas TI24F punya data nilai pemrograman python 80,100,90,70,70,50,40
#Carilah nilai rata-rat nilai pemrograman python di kelas TI24F

nilaiPython = [80,100,90,70,70,50,40]
total = 0
for nilai in nilaiPython:
    total += nilai

rata2 = total / len(nilaiPython)
print(f"Nilai Rata-rata : {rata2}")

Nilai Rata-rata : 71.42857142857143

In [13]:
#Enumerat
month = {"Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep"}
for i, m in enumerate(month):
    print(f"{i} : {m}")

0 : Aug
1 : Jan
2 : Sep
3 : Apr
4 : Feb
5 : Jun
6 : Mar
7 : May
8 : Jul

In [43]:
kampus = input("Isikan Nama Kampus:")
listVokal = ["a","i","u","e","o","A","I","U","E","O"]
total = 0
isVokal =""
for Karakter in kampus:
    if Karakter in listVokal:
        total +=1
        isVokal = "Huruf Vokal"
    else:
        isVokal = "Bukan Huruf Vokal"
    print(f"{Karakter} adalah {isVokal}|Total:{total}") #berapa banyak jumlah hurup vokal 'a,i,u,e,o'
print(f"Jumlah Total huruf Vokal : {total}")

Isikan Nama Kampus: Universitas Padjajaran

U adalah Huruf Vokal|Total:1
n adalah Bukan Huruf Vokal|Total:1
i adalah Huruf Vokal|Total:2
v adalah Bukan Huruf Vokal|Total:2
e adalah Huruf Vokal|Total:3
r adalah Bukan Huruf Vokal|Total:3
s adalah Bukan Huruf Vokal|Total:3
i adalah Huruf Vokal|Total:4
t adalah Bukan Huruf Vokal|Total:4
a adalah Huruf Vokal|Total:5
s adalah Bukan Huruf Vokal|Total:5
  adalah Bukan Huruf Vokal|Total:5
P adalah Bukan Huruf Vokal|Total:5
a adalah Huruf Vokal|Total:6
d adalah Bukan Huruf Vokal|Total:6
j adalah Bukan Huruf Vokal|Total:6
a adalah Huruf Vokal|Total:7
j adalah Bukan Huruf Vokal|Total:7
a adalah Huruf Vokal|Total:8
r adalah Bukan Huruf Vokal|Total:8
a adalah Huruf Vokal|Total:9
n adalah Bukan Huruf Vokal|Total:9
Jumlah Total huruf Vokal : 9

In [21]:
#Looping List Comprehensi

data = [1,2,3,4,5]
pangkat = [x**2 for x in data]
print(pangkat)

[1, 4, 9, 16, 25]

In [45]:
#Range
for j in range(5,10):
    print(f"Nilai j : {j}")

Nilai j : 5
Nilai j : 6
Nilai j : 7
Nilai j : 8
Nilai j : 9

In [51]:
#Cek bilangan prima atau bukan pirma 
number = int(input("Isikan Bilangan:"))
faktor=0
for i in range (1,number+1):
    if number % i == 0:
            faktor +=1
if faktor==2:
    print(f"{number} adalah Bukan Prima")

else:
    print(f"{number} adalah Bukan Prima")

Isikan Bilangan: 40

40 adalah Bukan Prima

In [53]:
#Faktorial
# 3! = 3 * 2 * 1 = 6
# 4! = 4 * 3 * 2 * 1 = 24
total = 1
number = int(input("Isikan Bilangan:"))
for i in range (1,number+1):
    total *= i
print(f"{number}! = {total}")

Isikan Bilangan: 2

2! = 2

In [79]:
#1 -2 3 -4 5 -6 7 -8 9 -10
number = int(input("Isikan Bilangan:"))
sign = 1
for i in range(1,number+1):
    result = sign * i
    print(f"{result}  ", end='')
    sign *= -1

Isikan Bilangan: 15

1  -2  3  -4  5  -6  7  -8  9  -10  11  -12  13  -14  15

In [85]:
kursiBioskop = ["L","P","P","L","L","P","L"]

#Hitung jumlah penonton laki-laki
#Hitung Jumlah penonton Perempuan

totalLaki = 0
for jenis in kursiBioskop:
    if jenis=="L":
        totalLaki +=1
print(f"Jumlah Penonton Laki-laki:{totalLaki}")
print(f"Jumlah Penonton Perempuan:{len(kursiBioskop)-totalLaki}")

Jumlah Penonton Laki-laki:4
Jumlah Penonton Perempuan:3

In [87]:
#Hitung jumlah orang yang kemungkinan berpasangan 
kursi = ["L","P","P","L","L","P","L"]
couple = 0
for i in range(len(kursi)-1):
    if kursi[i] != kursi [i+1]:
        couple+=1
print(f"Jumlah Couple:{couple}")

Jumlah Couple:4

In [97]:
data = {
    "fname" : "Dedi",
    "lname" : "Robi"
}
for key,value in data.items():
    print(f"(key) : {value}")

(key) : Dedi
(key) : Robi